APP_NOMBRE=Backend Cajero ATM
APP_HOST=0.0.0.0
APP_PORT=8000
JWT_SECRET=CAMBIA_ESTE_SECRETO
JWT_ALGORITHM=HS256
JWT_EXP_MINUTES=60
SESSION_IDLE_MINUTES=3
MAX_INTENTOS_PIN=4
MINUTOS_BLOQUEO=1

DB_PRIMARY_HOST=127.0.0.1
DB_PRIMARY_PORT=3307
DB_PRIMARY_NAME=cajero_atm
DB_PRIMARY_USER=cajero_user
DB_PRIMARY_PASSWORD=cajero_pass


DB_SECONDARY_HOST=127.0.0.1
DB_SECONDARY_PORT=3308
DB_SECONDARY_NAME=cajero_atm
DB_SECONDARY_USER=cajero_user
DB_SECONDARY_PASSWORD=cajero_pass
